.schedule__container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--page-title);
    position: relative;
}

/* SVG for the connecting line */
.connecting_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}


.schedule__title_container {
    padding-left: calc(var(--page-title)* 2);
}

.schedule__content {
    border: var(--border-thin);
    border-radius: 10px;
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    position: relative;
}

.schedule__title {
    border: var(--border-thin);
    width: fit-content;
    border-radius: 10px;
    position: relative;
}

.schedule__title h3 {
    padding: var(--padding-s) var(--padding-m);
    transform: translateY(1px);
    font-size: var(--subtitle-m);
    font-weight: var(--fontweight-xs);
}

.schedule__phasecontainer {
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
    column-gap: var(--padding-xl);
    min-height: calc(6rem + 6vw);
    padding: var(--padding-s) 0;
}

.schedule__datecontainer {
    border-top: var(--border-thin);
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-s);
    position: relative;
}

.datecontainer {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: var(--border-thin)
}

.schedule__datecontainer * {
    font-weight: var(--fontweight-xs);
}

.schedule__datecontainer h3 {
    width: fit-content;
    font-size: var(--subtitle-s);
    padding: var(--padding-s);
    border-radius: 50%;
    transform: translateY(2px)
}

.schedule__important {
    padding: var(--padding-xs) 0;
    position: relative;
}

.schedule__important h4 {
    text-align: right;
    font-family: var(--title-font);
    font-size: var(--subtitle-m);
    transform: translateY(5px);
}

.schedule__phase {
    border-top: var(--border-thin);
    padding: var(--padding-l) var(--padding-m);
    padding-left: calc(var(--page-title) * 2);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    position: relative;
}

.schedule__phase__description {
    display: flex;
    flex-direction: column;
    gap: var(--padding-xs);
    font-size: var(--text-large);
}


.schedule__phase__description p,
.schedule__phase__description * {

    font-size: calc(0.5rem + 0.5vw);
}

.schedule__phase__description ol {
    padding: var(--padding-xs) 0;
    margin-left: var(--padding-xl)
}

.schedule__phase__description li {
    font-size: calc(0.5rem + 0.5vw);
}

.schedule__phase h5 {
    width: fit-content;
    font-size: var(--subtitle-m);
    font-weight: var(--fontweight-xs);
    font-family: var(--title-font);

}

.schedule__date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    width: 6px;
    margin: var(--padding-s) 0;
    height: fit-content;
}

.arrow_svg {
    width: 100%;
    height: 100%;
}

.circle,
.circleSecond {
    position: absolute;
    transform: translateY(0%);
    z-index: 2;
}

.circleSecond {
    left: 4.55%;
    top: 42%
}

.circle div,
.circleSecond div {
    position: relative;
    height: var(--padding-xs);
    width: var(--padding-xs);
    border: var(--border-thin);
    border-radius: 50%;
    background-color: transparent;
}

.circle {
    top: 42%;
    left: var(--padding-2xs);
}

.square {
    position: absolute;
    height: var(--padding-xs);
    width: var(--padding-xs);
    background-color: var(--black);
    top: 0;
}

.schedule__phase__description .square:nth-of-type(1),
.schedule__datecontainer .square:nth-of-type(1) {
    left: 0;
}

.schedule__phase__description .square:nth-of-type(2),
.schedule__datecontainer .square:nth-of-type(2) {
    right: 0;
}