.preview,
.highlight {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding-top: var(--padding-xs);
    flex: 1;
}

.preview p {
    font-size: var(--text-sm)
}

.highlight p {
    font-size: var(--text-m)
}


.highlight h3 {
    font-size: var(--subtitle-s)
}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {


    .preview h3 {

        font-size: var(--subtitle-s)
    }

    .preview p {
        font-size: var(--text)
    }



}