.footer {
    padding: var(--padding-xl) var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-xl);
    border-top: var(--border-thin);
    view-transition-name: footer;

}

.footer * {
    font-family: var(--text-font);
}

.footer__lowercontainer {
    display: grid;
    grid-template-columns: 1.5fr 2fr 0.1fr;
}

.footer__leftcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__address {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
}

.footer__address h4 {
    font-size: var(--subtitle-s);
}

.footer__address a {
    text-decoration: underline;
    font-size: var(--subtitle-s);

}

.footer__address a * {
    font-weight: var(--fontweight-xs);
}


.footer__middlecontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 var(--padding-m);


}

.footer__middlecontainer a {
    font-size: var(--text-large);
    transform: translateY(3px)
}

.footer__logo img {
    height: calc(1.2rem + 1.2vw);
    width: auto;
}

.footer__lownavigationcontainer {
    display: flex;
    gap: var(--padding-m);

}



.footer__link {
    padding: var(--padding-xs) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(var(--padding-xs));
}

.footer__link a {
    display: flex;

}



.footer__link,
.footer__subnavigation .footer__link,
.footer__navigation .footer__link {
    width: 60%;
}

.footer__link p,
.footer__link a {
    font-size: calc(0.5rem + 0.5vw);
}

.rotate {
    transform: rotate(-135deg)
}


.footer__datecontainer {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.footer__lownavigation {
    display: flex;
    gap: var(--padding-m);
    font-size: calc(0.5rem + 0.5vw);
    ;
}

.footer__lownavigation span,
.footer__lownavigation a {
    font-size: var(--text-font);
    cursor: pointer;
    line-height: 100%;
}

.footer__lownavigation div {
    width: .5px;
    height: 100%;
    background-color: var(--black);
}

/* Small Mobile */
/* Up to 480px */
@media (max-width: 48rem) {
    .footer {
        padding: var(--padding-xl) var(--padding-m);
        margin-top: var(--padding-xl);
        gap: var(--padding-l);
    }

    .footer * {
        font-family: var(--text-font);
    }


    .footer__lowercontainer {
        display: flex;
        flex-direction: column;
        gap: var(--padding-xl);
    }

    .footer__leftcontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .footer__logo img {
        height: calc(1.5rem + 1.5vw);
        width: auto;
    }

    .footer__lownavigationcontainer {
        display: flex;
        gap: var(--padding-m);
    }

    .footer__link {
        padding: var(--padding-xs) 0;
        display: flex;
        gap: var(--padding-m);
        align-items: center;
        justify-content: space-between;
        width: 85%;
        transform: translateY(var(--padding-xs))
    }

    .footer__link p,
    .footer__link a {
        font-size: var(--text);

    }

    .rotate {
        transform: rotate(-135deg)
    }


    .footer__datecontainer {
        display: flex;
        justify-content: right;
        align-items: flex-end;
    }

    .footer__lownavigation {
        display: flex;
        gap: var(--padding-m);
        font-family: var(--text-font);
        align-items: center;
        justify-content: center;
    }


    .footer__lownavigation span,
    .footer__lownavigation a {
        font-size: calc(0.6vw + 0.6rem)
    }


}


/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {
    .footer {
        padding: var(--padding-xl) var(--padding-m);
        margin-top: var(--padding-xl);
        gap: var(--padding-l);

    }

    .footer * {
        font-family: var(--text-font);

    }


    .footer__lowercontainer {
        display: flex;
        flex-direction: column;
        gap: var(--padding-xl);
    }

    .footer__leftcontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .footer__logo img {
        height: calc(1.5rem + 1.5vw);
        width: auto;
    }

    .footer__lownavigationcontainer {
        display: flex;
        gap: var(--padding-m);
    }

    .footer__link {
        padding: var(--padding-xs) 0;
        display: flex;
        gap: var(--padding-m);
        align-items: center;
        justify-content: space-between;
        width: 85%;
        transform: translateY(var(--padding-xs))
    }

    .footer__navigation .footer__link {
        width: 70%;

    }

    .footer__subnavigation .footer__link {
        width: 70%;
    }

    .footer__link p,
    .footer__link a {
        font-size: var(--text);

    }

    .rotate {
        transform: rotate(-135deg)
    }


    .footer__datecontainer {
        display: flex;
        justify-content: right;
        align-items: flex-end;
    }

    .footer__lownavigation {
        display: flex;
        gap: var(--padding-m);
        font-family: var(--text-font);
    }
}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}