.downloadbar__container {
    width: 100%;
    height: 100%;
    border: var(--border-thin);
    background-color: var(--white);
    border-radius: var(--radius-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-xs) var(--padding-sm);
}

.downloadbar__container h5 {
    font-size: var(--text);
    font-weight: var(--fontweight-s);
}

.downloadbar__container a {
    padding: calc(var(--padding-xs) / 4) var(--padding-xs);
    border: var(--border-thin);
    border-radius: calc(var(--radius-s)/ 1.5);
    text-decoration: none;
    font-family: var(--title-font);
    font-size: var(--text-large);
    transition: background-color var(--animationtime-fast) var(--bezier);
}


.downloadbar__container a:hover {
    background-color: var(--lightgrey)
}



/* Small Mobile */
/* Up to 480px */
@media (max-width: 30rem) {}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .downloadbar__container {
        display: none;
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}