.criterias__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-xl) 0;
    gap: var(--padding-xl);
    margin-top: var(--padding-l);
}

.criterias__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-xl);
    padding: var(--padding-3xl) var(--padding-l);
}

.criteria__item {
    display: grid;
    grid-template-columns: 0.5fr 1fr
}

.criteria__titlecontainer {
    display: flex;
    align-items: center;
}

.criteria__title * {
    font-size: var(--subtitle-s);
    font-family: var(--title-font);
}

.criteria__overviewcontent {
    padding-left: var(--padding-2xl);
    border-left: var(--border-thin);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
}


.criteria__overviewcontent p {
    font-size: var(--text);
}

.criteria__overviewcontent ul {
    font-size: var(--text);
    line-height: 120%;
}

.criterias__buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-l);
}

.criterias__buttoncontainer h4 {
    font-size: var(--text-large);
    font-family: var(--title-font);
}


.criterias__buttoncontainer a {
    font-size: var(--text-large);
    background-color: var(--buttoncolor);
    padding: var(--padding-s);
    border: var(--border-thin);
    border-radius: var(--radius-s);
    font-family: var(--title-font);
}


/* Small Mobile */
/* Up to 480px */
@media (max-width: 48rem) {

    .criterias__container {
        width: 100%;
        gap: var(--padding-l);
        padding: var(--padding-l) var(--padding-s)
    }

    .criteria__item {
        grid-template-columns: 0.65fr 1fr
    }


    .criteria__overviewcontent {
        padding-left: var(--padding-l);
        gap: var(--padding-s);
    }

    .criterias__buttoncontainer {

        gap: var(--padding-m);
    }

    .criterias__buttoncontainer h4 {

        text-align: center;
    }
}


/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {
    .criterias__section {
        padding: var(--padding-l) 0;
        gap: var(--padding-l);
    }

    .criterias__container {
        width: 90%;
        gap: var(--padding-l);
        padding: var(--padding-3xl) var(--padding-l)
    }

    .criteria__item {
        grid-template-columns: 0.5fr 1fr
    }

    .criteria__overviewcontent {
        padding-left: var(--padding-2xl);
        gap: var(--padding-m);
    }

    .criterias__buttoncontainer {
        gap: var(--padding-l);
    }
}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {
    .criterias__section {
        padding: var(--padding-xl) 0;
        gap: var(--padding-xl);
    }

    .criterias__container {
        width: 100%;
        gap: var(--padding-l);
        padding: var(--padding-l) var(--padding-s)
    }

    .criteria__item {
        grid-template-columns: 0.65fr 1fr
    }


    .criteria__overviewcontent {
        padding-left: var(--padding-l);
        gap: var(--padding-s);
    }

    .criterias__buttoncontainer {

        gap: var(--padding-m);
    }

    .criterias__buttoncontainer h4 {

        text-align: center;
    }
}
