.clip {
    display: block;
    overflow: hidden;
}

.wrapper {
    --distance: 0.5rem;
    border: var(--border-thin);
    height: calc(6.5rem + 6.5vw);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-s);
    border-radius: var(--radius-l);
    text-align: center;
    position: relative;
    background-color: white;
}

.circle {
    position: absolute;
    top: var(--distance);
    left: var(--distance);
    height: 1rem;
    aspect-ratio: 1/1;
    border: var(--border-thin);
    border-radius: 50%;
}