.clip {
    display: block;
    overflow: hidden;
}

.wrapper {
    --distance: 0.5rem;
    border: var(--border-thin);
    height: calc(6.5rem + 6.5vw);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-s);
    border-radius: var(--radius-l);
    text-align: center;
    position: relative;
    background-color: var(--white);
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.cardTitle {
    font-family: var(--title-font);
    font-weight: 150;
    font-size: var(--subtitle-s);
}

.circle {
    position: absolute;
    top: var(--distance);
    left: var(--distance);
    height: 1rem;
    aspect-ratio: 1/1;
    border: var(--border-thin);
    border-radius: 50%;
}


/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {


    .wrapper {
        --distance: 0.5rem;
        border: var(--border-thin);
        height: calc(4.5rem + 4.5vw);
        aspect-ratio: 1/1;
        border-radius: var(--radius-s);

    }

    .cardTitle {

        font-size: var(--text-l);
    }


    .circle {
        position: absolute;
        top: var(--distance);
        left: var(--distance);
        height: 0.5rem;
        aspect-ratio: 1/1;
        border: var(--border-thin);
        border-radius: 50%;
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}