.slide {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slidespan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 100%;

}

.slidespan button {
    cursor: pointer;
}

.slide img {
    height: calc(20rem + 30vw);
}