.tabs {
    display: flex;
    border: var(--border-thin);
    border-radius: 6px;
    overflow: hidden;
    flex-shrink: 0;
}

.tab {
    padding: var(--padding-xs) var(--padding-m);
    font-family: var(--title-font);
    font-size: var(--text-large);
    color: var(--black);
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.tab + .tab {
    border-left: var(--border-thin);
}

.tab:hover {
    background-color: var(--lightgrey);
}

.tab.active {
    background-color: var(--contestblue);
    cursor: default;
}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .tab {
        padding: var(--padding-2xs) var(--padding-s);
        font-size: var(--text-sm);
    }
}
