.jury__sectioncontainer {
    padding: var(--padding-xl) var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-xl);
    margin: 0 auto;
    max-width: 1750px;
}

.jury__introduction {
    width: 100%;
    max-width: 750px;
    padding-left: var(--subtitle-s);
}

.jury__introduction p {
    font-size: var(--text);
}

.jury__members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--padding-xl);
    padding: 0 var(--padding-xl);
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}



.jury__member {
    background-color: #F5F5F5;
    padding-left: var(--padding-l);
    padding-top: var(--padding-l);
    width: 100%;
    max-width: 40rem;
}

.jury__container {
    background-color: var(--white);
    padding: var(--padding-s) var(--padding-m);
    border-radius: 6px;
}

.jury__container img {
    height: calc(6rem + 6vw);
    width: auto;
}

.jury__container a {
    font-family: var(--text-font);
    font-size: var(--text-s);
    text-decoration: underline;
}

.jury__member h3 {
    font-size: var(--subtitle-s);
    padding-top: var(--padding-m)
}

.jury__uppercontainer {
    gap: var(--padding-xl);
    display: flex;
    align-items: center;
}

.jury__uppercontainer p {
    width: 100%;
    font-size: var(--text-s);
    height: fit-content;
    hyphens: auto;
}


.jury__lowercontainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .jury__sectioncontainer {
        padding: var(--padding-l) var(--padding-m);
        display: flex;
        flex-direction: column;
        gap: var(--padding-m);
        margin: 0 auto;
        max-width: 30rem;
    }

    .jury__introduction {
        width: 100%;
        max-width: 750px;
        padding-left: var(--subtitle-s);
    }

    .jury__introduction p {
        font-size: var(--text);
    }

    .jury__members {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--padding-xl);
        padding: 0 var(--padding-s);
    }


    .jury__member {
        padding-left: var(--padding-m);
        padding-top: var(--padding-m);
    }

    .jury__member h3 {
        font-size: var(--subtitle-s);
        padding-top: var(--padding-m)
    }


    .jury__container img {
        height: calc(5rem + 5vw);
        width: auto;
        object-fit: contain;
    }

    .jury__uppercontainer {
        gap: var(--padding-l);
        display: flex;
        flex-direction: column;
    }

    .jury__uppercontainer p {
        width: 100%;
        font-size: var(--text);
        text-align: center;
    }

    .jury__container a {
        font-size: calc(0.6rem + 0.5vw);
    }


    .jury__lowercontainer {
        display: flex;
        gap: var(--padding-m);
        padding-top: var(--padding-l)
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {
    .jury__sectioncontainer {
        padding: var(--padding-l) var(--padding-m);
        display: flex;
        flex-direction: column;
        gap: var(--padding-l);
        margin: 0 auto;
        max-width: 1750px;
    }

    .jury__introduction {
        width: 100%;
        max-width: 750px;
        padding-left: var(--subtitle-s);
    }

    .jury__introduction p {
        font-size: var(--text);
    }

    .jury__members {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--padding-xl);
        padding: 0 var(--padding-s);
    }

    .jury__member:nth-child(1) {
        grid-column: initial;
    }

    .jury__member:nth-child(2),
    .jury__member:nth-child(3) {
        grid-column: initial;
        max-width: 650px;
        margin: 0 auto;
    }

    .jury__member:nth-child(4),
    .jury__member:nth-child(5) {
        grid-column: initial;
        max-width: 650px;
        margin: 0 auto;
    }

    .jury__member:nth-child(6) {
        grid-column: initial;
        margin: 0 auto;
    }

    .jury__member {
        padding-left: var(--padding-m);
        padding-top: var(--padding-m);
    }



    .jury__container img {
        border: 1px solid black;
        height: 40%;
        width: auto;
        aspect-ration: 16/9;
    }




    .jury__uppercontainer {
        gap: var(--padding-s);
        display: flex;
        flex-direction: column;
    }

    .jury__uppercontainer p {
        width: 100%;
        font-size: var(--text-sm);
        text-align: center;
    }


    .jury__lowercontainer {
        display: flex;
        gap: var(--padding-m);
        flex-direction: column;
    }
}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}