.landing__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5.5% var(--padding-s);
}


.landing__rightcontainer,
.landing__leftcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    gap: var(--padding-xs)
}

.landing__rightcontainer {
    width: 42.5%;
}

.landing__leftcontainer {
    width: 45%;
}

.landing__leftcontainer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: var(--padding-xs)
}

.leftcontainer__dynamic {
    width: 100%;
    background-color: var(--white);
    border: var(--border-thin);
    border-radius: var(--radius-s);
    opacity: 1;
    padding: var(--padding-l);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding-l);
    transition: opacity 0.2s var(--bezier);
    height: 75%;
}

.leftcontainer__dynamic h3 {
    font-size: var(--subtitle-l);
    text-align: center;

}

.leftcontainer__dynamic p {
    font-size: var(--text-m);
    padding-top: var(--padding-m);
    text-align: center;
}

.decor {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.circle {
    height: var(--padding-m);
    width: var(--padding-m);
    border: var(--border-thin);
    border-radius: 50%;
}

.line {
    position: absolute;
    height: 0.5px;
    width: calc(100% - var(--padding-m));
    background-color: var(--black);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.landing__rightcontainer__ccc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: var(--padding-xs);
    grid-row-gap: var(--padding-xs);
    height: 75%;
}

.landing__navigationitem {
    background-color: var(--white-lowopa);
    transition: transform var(--animationtime-slow) var(--bezier), background-color var(--animationtime-middle);
    border: var(--border-thin);
    border-radius: var(--radius-s)
}

.landing__navigationitem a h5 {
    width: fit-content;
    font-size: var(--subtitle-m);
    font-weight: var(--fontweight-xs);
}

.landing__navigationitem:hover {
    background-color: var(--white);
    transform: scale(1.03)
}

.landing__crescendo,
.landing__cadenza,
.landing__contest {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.landing__contest {
    grid-area: 1 / 1 / 3 / 2;
    width: calc(10rem +10vw);
}


.landing__cadenza {
    grid-area: 1 / 2 / 2 / 3;
}

.landing__crescendo {
    grid-area: 2 / 2 / 3 / 3;
}

.landing__about,
.landing__termine {
    height: 25%;
    width: 100%;
    padding: var(--padding-s);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.landing__termine {
    justify-self: flex-end
}


.ccc__innercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--padding-s);

}

.landing__contest .ccc__innercontainer {
    height: 55%;
}

.landing__cadenza .ccc__innercontainer,
.landing__crescendo .ccc__innercontainer {
    height: 60%;
}

/* .landing__contest .ccc__innercontainer span,
.landing__cadenza .ccc__innercontainer span,
.landing__crescendo .ccc__innercontainer span {
    width: fit-content;
    font-size: var(--subtitle-l);
    font-weight: var(--fontweight-s);
    font-family: var(--title-font);
} */

.landing__crescendo h4,
.landing__cadenza h4,
.landing__contest h4 {
    width: fit-content;
    font-size: var(--subtitle-l);
    font-weight: var(--fontweight-s);
    font-family: var(--title-font);
}

.landing__crescendo a,
.landing__cadenza a,
.landing__contest a {
    width: fit-content;

}

.landing__about h4,
.landing__termine h4 {
    font-family: var(--title-font);
    font-size: var(--subtitle-xl);
    text-align: center;
    height: fit-content;
    width: 100%;
    transform: translateY(var(--padding-s))
}

.landing__about a,
.landing__termine a {
    display: flex;
    justify-content: flex-end;
}