.outerspan {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0;
    text-wrap: balance;
    padding-top: 5px;
}



.innerspan {
    margin-top: 0;
    display: inline-block;
    transform: translateY(120%);
    will-change: transform;
}

.center {
    text-align: center;
}

.start {
    text-align: left;
}