.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: var(--page-title) 0;
    gap: var(--page-title)
}

.sectioncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-m);
    text-align: center;
}

.sectioncontainer h3 {
    font-size: var(--subtitle-s);
}

.linkscontainer {
    padding-top: var(--padding-m);
    display: flex;
    gap: var(--padding-xl);
}

.downloadlink {
    display: flex;
    gap: var(--padding-s)
}

.downloadlink a {
    text-decoration: underline;
}