@font-face {
    font-family: "Max Fett";
    src: url("/fonts/MaxFett-Black.woff2");
    fallback: url("/fonts/MaxFett-Black.woff");
}

@font-face {
    font-family: "ABC Synt Regular";
    src: url("/fonts/ABCSynt-Regular-Trial.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Review Mono";
    src: url("/fonts/ReviewMonoRegularTrial.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


:root {


    /* font stuff */

    --title-font: "Max Fett";
    --subtitle-font: "Arial";
    --text-font: "Arial";


    /* color stuff */

    --accentred: #FBCEB1;
    --accentgreen: #D9E4D4;
    --lightgrey: #F5F5F5;
    --darkgrey: #a4a4a4;
    --buttoncolor: #40E0D0;
    --contestblue: #9AE4F1;
    --cadenzagold: #FFD700;
    --crescendogold: #FFC130;
    --black: #000;
    --white: #fff;


    --opacity: 0.48;

    --white-lowopa: rgba(255, 255, 255, var(--opacity));
    /* font sizes */

    /* 120px */
    --page-title: calc(3rem + 3vw);

    --subtitle-xxl: calc(2rem + 2vw);
    /* 64px */
    --subtitle-xl: calc(1.6rem + 1.6vw);
    /* 48px */
    --subtitle-l: calc(1.3rem + 1.3vw);
    /* 32px */
    --subtitle-m: 2rem;
    /* 24px */
    --subtitle-s: calc(0.75rem + 0.75vw);

    /* 20px */
    --text-large: calc(0.6rem + 0.6vw);

    /* 16px */
    --text: 1rem;

    /* 14px */
    --text-sm: 0.875rem;


    /* 12px */
    --text-s: calc(0.375rem + 0.375vw);
    /* 8px */
    --text-xs: 0.5rem;
    /* 4px */
    --text-2xs: 0.25rem;
    /* 2px */
    --text-3xs: 0.125rem;


    --fontweight-s: 300;
    --fontweight-xs: 100;

    /* paddings */
    --padding-xl: var(--subtitle-xl);
    --padding-l: var(--subtitle-l);
    --padding-m: var(--text-large);
    --padding-sm: var(--text);
    --padding-s: var(--text-s);
    --padding-xs: var(--text-xs);
    --padding-2xs: var(--text-2xs);


    /* borders */
    --border-thin: 0.5px solid var(--black);
    --radius-s: 8px;


    /* animation stuff */

    --bezier: ease-in-out;
    --animationtime-xfast: 0.3s;
    --animationtime-fast: 0.5s;
    --animationtime-middle: 0.6s;
    --animationtime-slow: 0.8s;
    --animationtime-breathe: 1.2s;

    --max-width: 120rem;


    --circle-height: calc(4.2rem + 4.2vw);
}

body {
    position: relative;
    overflow-x: hidden;
    max-width: 100svw;
    -webkit-font-smoothing: antialiased;
}

*::selection {
    background-color: var(--contestblue);
}


h1,
h2,
h3,
h4,
h5,
h6 p,
a,
ul,
button,
nav {
    color: var(--black);
    line-height: 1;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
}

h4,
h5,
h6 {
    font-family: var(--subtitle-font);
}

ul {
    list-style-position: inside;
}

p,
li,
ul {
    font-family: var(--text-font);
    hyphens: auto;
}

h1 {
    font-size: var(--page-title);

}

h2 {
    font-size: var(--subtitle-l);
}

p {
    font-size: var(--text-s);
    line-height: 150%;
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    to {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }
}


/* Default View Transitions */
::view-transition-old(root) {
    animation: 3s cubic-bezier(0.3, 1, 0.68, 1) both fade-out;
    pointer-events: none;

}

::view-transition-new(root) {
    animation: 3s cubic-bezier(0.22, 1, 0.36, 1) both fade-in;
    pointer-events: none;
}





.footer {
    view-transition-name: footer;
}



::view-transition-old(navbar),
::view-transition-new(navbar),
::view-transition-old(footer),
::view-transition-new(footer) {
    animation: none;
    z-index: 500;
}



/* Reduced Motion Preferences */
@media (prefers-reduced-motion: reduce) {

    ::view-transition,
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation-duration: 0.008s;
    }
}




/* Small Mobile */
/* Up to 480px */
@media (max-width: 48rem) {
    :root {

        /* font sizes */

        /* 120px */
        --page-title: calc(2.2rem + 2.2vw);

        --subtitle-xxl: calc(1.8rem + 1.8vw);
        /* 64px */
        --subtitle-xl: calc(1.4rem + 1.4vw);
        /* 48px */
        --subtitle-l: calc(1rem + 1.5vw);
        /* 32px */
        --subtitle-m: calc(1rem + 1.6vw);
        /* 24px */
        --subtitle-s: calc(0.75rem + 0.75vw);

        /* 20px */
        --text-large: calc(0.6rem + 0.6vw);

        /* 16px */
        --text: calc(0.5rem + 0.8vw);
        ;

        /* 14px */
        --text-sm: 0.875rem;


        /* 12px */
        --text-s: calc(0.375rem + 0.375vw);
        /* 8px */
        --text-xs: 0.5rem;
        /* 4px */
        --text-2xs: 0.25rem;
        /* 2px */
        --text-3xs: 0.125rem;


        /* animation stuff */

        --bezier: ease-in-out;
        --animationtime-xfast: 0.3s;
        --animationtime-fast: 0.5s;
        --animationtime-middle: 0.6s;
        --animationtime-slow: 0.8s;
        --animationtime-breathe: 1.2s;

        --circle-height: calc(2.6rem + 2.6vw);
    }

    p,
    li,
    ul,
    a {
        font-size: var(--text)
    }
}


/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}