.filtercontainer {
    display: flex;
    justify-content: space-between;
    padding-top: var(--padding-s);
    transform: translateY(150%)
}

.filterbar,
.sortcontainer {
    display: flex;
    gap: var(--padding-m);
    align-items: center;
}

.sortcontainer select {
    font-family: var(--text-font);
    padding: var(--padding-2xs);
    font-size: var(--text-s);
    border: var(--border-thin);
    border-radius: var(--border-radius);
}

.sortcontainer select:focus {
    outline: none;
}

.filterbar h4,
.sortcontainer h4 {
    font-family: var(--title-font)
}

.filterbutton {
    padding: var(--padding-2xs) var(--padding-s);
    border: var(--border-thin);
    height: fit-content;
    border-radius: var(--border-radius);
    font-size: var(--text-smaller);
    background-color: white;
    font-family: var(--text-font);
    cursor: pointer;
}

.active {
    background-color: var(--contestblue);
}



/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .filtercontainer {
        display: flex;
        flex-direction: column;
        padding-top: var(--padding-smaller);
        transform: translateY(150%);
        gap: 1rem;
    }

    .filterbar,
    .sortcontainer {
        display: flex;
        gap: var(--padding-s);
        align-items: center;
    }

    .sortcontainer select {
        font-family: var(--text-font);
        padding: var(--padding-2xs);
        font-size: var(--text-s);
        border: var(--border-thin);
        border-radius: var(--border-radius);
    }

    .sortcontainer select:focus {
        outline: none;
    }

    .filterbar h4,
    .sortcontainer h4 {
        font-size: var(--text-sm)
    }

    .filterbutton {
        font-size: var(--text-s);
    }

    .active {
        background-color: var(--contestblue);
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}