.descriptions {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    padding-left: 8rem;
    padding-top: var(--padding-l)
}


.description {
    width: 50%;
}

.description p {
    font-size: var(--text);
}