.container {
    min-height: 100svh;
    padding: var(--page-title) var(--padding-s);
    padding-top: 0;
    --border-radius: 4px;
}

.titleContainer {
    display: flex;
    overflow: hidden;
}

.number {
    transform: translateY(-100%)
}

.titleContainer h5 {
    font-family: var(--title-font);
    font-size: var(--text-m);
}

.uppercontainer {
    padding-top: var(--page-title);
    background-color: white;
}

.filter {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: var(--padding-xl);
    background-color: white;
    padding-bottom: var(--padding-sm);
    overflow: hidden;
}




/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .container {

        padding: var(--padding-sm);

    }

    .titleContainer {
        display: flex;
        overflow: hidden;
    }

    .number {
        transform: translateY(-100%)
    }

    .titleContainer h5 {
        font-family: var(--title-font);
        font-size: var(--text-sm);
    }

    .uppercontainer {
        padding-top: calc(var(--page-title) + 1rem);


    }

    .filter {
        position: sticky;
        top: 0;
        padding-top: calc(var(--page-title) + 1rem);
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}