.wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xl) var(--padding-m);
    gap: var(--padding-m);

}


.wrapper h3 {
    font-size: var(--subtitle-s)
}

.content {
    padding: var(--padding-l) 0;
}


.categories {
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
    padding: var(--padding-2xl) var(--padding-3xl) 0;
    position: relative;

}




.curvedArrow {
    height: 26rem;
    width: 15rem;
}

.curvedArrow div {
    transform: translateY(22%) translateX(-2%)
}

.cadenzacrescendo {
    position: relative;
}

.crescendo {

    transform: translateX(70%) translateY(-30%)
}