.timeline__container {
    background-color: var(--white);
    position: fixed;
    display: flex;
    height: fit-content;
    padding: var(--padding-2xs) var(--padding-xs);
    bottom: var(--padding-s);
    min-width: 85%;
    justify-content: space-between;
    border: var(--border-thin);
    border-radius: 6px;
    transform: translateX(-50%) scale(0.88);
    /* combine into one transform */
    transform-origin: center;
    pointer-events: all;
    transition: all var(--animationtime-fast) ease-out;
    left: 50%;
}

.timeline__container__ishome {
    background-color: var(--white-lowopa);
    transform: translateX(-50%) scale(0.88);
    /* same scale */
}

.timeline__container:hover {
    transform: translateX(-50%) scale(0.90);
    /* grow slightly on hover */
    background-color: var(--white);
}

.timeline__hidden {
    transform: translateY(150%) translateX(-50%) scale(0.88);
    /* hide with Y shift */
}