.foldout {
    padding: var(--padding-m) 0;
}

.foldout__itemcontainer {
    padding: var(--padding-l) var(--padding-xl);
    margin-top: var(--padding-l);
    display: flex;
    flex-direction: column;
    gap: var(--padding-xxs);
    height: fit-content;
    width: 100%;
    background-color: transparent;
}

.foldout__item {
    overflow: hidden;
    transition: height 0.3s var(--bezier);
    margin-top: 1rem;
    background-color: transparent;

}

.foldout__item_uppercontainer {
    display: flex;
    gap: var(--padding-m);
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.foldout__item_content {
    padding: 0 var(--page-title);
    width: fit-content;
}


.foldout__item {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.foldout__item h4,
.foldout__item_title h3 {
    font-weight: var(--fontweight-xs);
    font-family: var(--subtitle-font);
}


.foldout__item_uppercontainer h3,
.foldout__item_uppercontainer h4 {
    padding: var(--padding-s);
    font-size: calc(0.5rem + 1vw);
}


.foldout__item_content h4 {
    width: fit-content;
    font-size: var(--text-large);
    padding-bottom: var(--padding-s);
    /* font-family: var(--title-font); */
}

.foldout__item_title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-thin);
    border-radius: 12px;
    display: flex;
}


.index {
    width: calc(1.5rem + 1.5vw);
    height: calc(1.5rem + 1.5vw);
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: var(--border-thin)
}

.index h4 {
    height: 100%;
    width: 100%;
    text-align: center;
}

.foldout__subitem_titlediv {
    display: flex;
    gap: var(--padding-m);
    line-height: 100%;
    align-items: center;

}

.foldout__subitem_titlediv h4 {
    line-height: 50%;
}

.foldout__toggle_icon {
    height: calc(0.2rem + 0.5vw);
    width: calc(0.2rem + 0.5vw);
    position: relative;
}

.foldout__toggle_icondiv {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;
    background-color: var(--black);
    height: 1px;
    width: 100%;
    transition: transform 0.2s var(--bezier);
}

.foldout__toggle_icondiv:nth-of-type(1) {
    transform: translateY(-50%);
}

.foldout__toggle_icondiv:nth-of-type(2) {
    transform: translateY(-50%) rotate(90deg) scale(1);
    transition: transform 0.2s var(--bezier);
}

.foldout__toggle_icondiv.open {
    transform: translateY(-50%) scale(1);
}


.foldout__subitem {
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
}

.foldout__subitem p,
.foldout__subitem li {
    line-height: 120%;
    font-size: calc(0.4rem + 0.4vw) !important;
}

.foldout__subitem li {
    list-style-type: circle;
}

.foldout__subitem_description {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding-left: var(--padding-xl)
}

.foldout__subitem_description p {
    font-size: var(--text-sm);
    max-width: 40vw;
}