.blogcontainer {
    padding: var(--padding-3xl) calc(4rem + 3vw);
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.monthGroup {
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
}

.postsGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem
}

.imageColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.postsGrid img {
    width: 100%;
    height: auto;
    display: block;
}

.galleryImage {
    transform: translateY(100%);
    opacity: 0;
    display: block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {
    .blogcontainer {
        padding: var(--padding-s);
        padding-top: 2rem;
        gap: 4rem;
    }

    .monthGroup {
        gap: var(--padding-m);
    }

    .postsGrid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: var(--padding-m);
    }
}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {
    .postsGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
