.foldout {
    display: flex;
    padding: 0 var(--padding-xl);
    align-items: flex-start;
    padding-bottom: var(--padding-l)
}

.foldout__imagecontainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--padding-xxs);
    width: fit-content;

}

.foldout__imagecontainer img {
    width: calc(13rem + 13vw);
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

.foldout__decorationcontainer {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: var(--border-thin);
}

.string {
    position: absolute;
    width: calc(100% - 2rem);
    height: 0.5px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}