.menu__container {
    height: 98%;
    border: var(--border-thin);
    border-radius: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;

}

.menu__leftcontainer {
    width: 70%;
    padding-left: 10%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__rightcontainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.overlflow__container {
    overflow: hidden;
    padding-bottom: var(--padding-xs)
}




.menu__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    gap: 20%;
    height: 50%;
    justify-content: flex-end;
}

.menu__logocontainer {
    height: 2rem;
    width: auto;
    margin-bottom: var(--padding-xs)
}

.menu__logocontainer img {
    height: 100%;
    object-fit: contain;
    width: auto;
}

.menu__addresscontainer {
    pointer-events: all;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding-right: 33%;
}


.menu__addresscontainer h4 {
    font-size: 2rem;
    font-family: var(--title-font);
}

.menu__addresscontainer h5 {

    font-size: var(--text-large);
}

.menu__addresscontainer h6 {
    font-size: var(--text);
    font-weight: var(--fontweight-xs);
    text-decoration: underline;
}

.menu__navlistcontainer {
    width: fit-content;
    padding-right: 2.5%;
    position: relative;
    width: 100%;
}



.menu__navlistcontainer .menu__navlist {
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
    pointer-events: all;
    position: relative;
}


.menu__navlist__indicator {
    height: calc(var(--subtitle-l) + var(--padding-sm));
    width: auto;
    position: absolute;
    transition: transform var(--animationtime-fast) var(--bezier)
}

.menu__navlist__indicator img {
    height: auto;
    width: 100%;
    transform: translateY(-60%) translateX(-20%);
    scale: 1.1;

}

.navbar__item,
.subnavbar__item {
    position: relative;
    width: fit-content;
}


.menu__socialscontainer {
    padding-right: 2.5%;
}

.menu__socialscontainer .menu__navlist,
.menu__legalcontainer .menu__navlist {
    display: flex;
    width: fit-content;
    gap: var(--subtitle-s);
    padding-right: 2.5%;
}

.navbar__item a {
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-l);
    font-weight: var(--fontweight-xs);
    width: fit-content;
}



.subnavbar__subnavbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    pointer-events: none;
    top: 0;
    opacity: 0;
    left: 100%;
    padding: var(--padding-s) 0;
    padding-left: 3rem;
    width: 80%;
    transition: opacity 0.2s var(--bezier)
}

.subnavbar__open {
    opacity: 1;
    pointer-events: all;
}

.subnavbar__item {
    display: flex;
    gap: var(--padding-s);
    position: relative;
    width: fit-content;
    overflow: hidden;
}

.subnavbar__item::before {
    display: flex;
    gap: var(--padding-s);
}

.subnavbar__item a {
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-s);
    text-transform: none;
    width: fit-content;
}

.subnavbar__item span {
    font-size: var(--text-s)
}

.lowernavbar__item {
    display: flex;
    gap: var(--subtitle-l);
    font-size: var(--text-sm)
}

.lowernavbar__item a {
    font-family: var(--subtitle-font);
    pointer-events: all;
}

.lowernavbar__item span {
    height: 100%;
    background-color: black;
    width: 0.5px;
}



/* Small Mobile */
/* Up to 480px */
@media (max-width: 30rem) {}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {
    .menu__container {
        margin: auto;
        max-width: 1750px;
    }
}

@media (min-width: 120rem) {
    .menu__container {
        margin: auto;
        max-width: var(--max-width);
    }
}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}