.container {
    min-height: 100svh;
    padding: var(--page-title) var(--padding-s);
}

.termine__hero {
    height: calc(100svh - var(--page-title));
    position: relative;
}

.termine__content {
    display: flex;
    flex-direction: column;
    gap: var(--page-title);
    transform: translateY(0);
}

.terime_illustrationcontainer {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.svgcontainer {
    display: flex;
    gap: var(--padding-m);
    transform: translateY(-50%) scale(1.1);
}

.arrowup {
    display: flex;
    align-items: flex-end;
}


/* Small Mobile */
/* Up to 480px */
@media (max-width: 30rem) {
    .container {
        min-height: 100svh;
        padding: var(--page-title) var(--padding-s);
    }

    .termine__hero {
        height: calc(100svh - var(--page-title));
        position: relative;
    }

    .termine__content {
        display: flex;
        flex-direction: column;
        gap: var(--page-title);
        transform: translateY(0);

    }

    .terime_illustrationcontainer {
        position: absolute;
        padding-top: 0%;
        height: 80%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .svgcontainer {
        display: flex;
        gap: var(--padding-s);
        transform: rotate(90deg) translateY(-0%) scale(1);
    }

}

/* Mobile */
/* Up to 768px */
@media (max-width: 48rem) {}

/* Tablet */
/* 768px to 1184px */
@media (min-width: 48rem) and (max-width: 74rem) {}

/* Tablet - Portrait Orientation */
/* 768px to 1184px in portrait mode */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}

/* Desktop */
/* 1184px and up */
@media (min-width: 74rem) {}

/* Large Desktop */
/* 1440px and up */
@media (min-width: 90rem) {}

@media (min-width: 120rem) {}

/* Touch Devices */
/* Any touch device regardless of size */
@media (hover: none) {}

/* Non-Touch Devices */
/* Devices with precise pointer (mouse) */
@media (hover: hover) and (pointer: fine) {}

/* Prefers Dark Mode */
/* User has set dark mode preference */
@media (prefers-color-scheme: dark) {}

/* Prefers Reduced Motion */
/* User has requested minimal animations */
@media (prefers-reduced-motion: reduce) {}