.container {
    min-height: 100svh;
    padding: var(--page-title) var(--padding-s);
}

.termine__hero {
    height: calc(100svh - var(--page-title));
    position: relative;
}

.termine__content {
    display: flex;
    flex-direction: column;
    gap: var(--page-title);
    transform: translateY(-4.45%);
}