.postpreview {
    height: 32rem;
    width: 85%;
    border: var(--border-thin);
    padding: var(--padding-m);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    background-color: white;
    gap: var(--padding-m);
    opacity: 0;
    transform: translateY(var(--page-title));
}

.uppercontainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.tagscontainer {
    display: flex;
    gap: var(--padding-s);
}

.tagscontainer p {
    padding: 0.1rem var(--padding-xs);
    border: var(--border-thin);
    border-radius: 4px;
    font-size: var(--text-smaller);
}

.date {
    font-family: var(--title-font);
    font-size: var(--text-smaller)
}

.contentcontainer {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 20px;
    position: relative;
    flex: 1;
    min-height: 0;
    height: 100%;
}

.imagecontainer {
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.imagecontainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rightsidecontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.textcontainer h3 {
    font-size: var(--subtitle-m)
}

.textcontainer p {
    font-size: var(--text-m)
}

.instaicon img {
    height: var(--padding-m);
    width: auto;
    object-fit: contain;
}

.linkcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkcontainer * {
    font-family: var(--text-font);
    font-size: var(--text-s);
    text-decoration: underline;
}