.postpreview {
    height: 36rem;
    width: 100%;
    border: var(--border-thin);
    padding: var(--padding-m);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    background-color: white;
    transform: translateY(20%);
    opacity: 0;
}

.uppercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tagscontainer {
    display: flex;
    gap: var(--padding-s);
}

.tagscontainer p {
    padding: 0.1rem var(--padding-xs);
    border: var(--border-thin);
    border-radius: 4px;
    font-size: var(--text-smaller);
}

.date {
    font-family: var(--title-font);
    font-size: var(--text-smaller)
}


.contentcontainer {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    height: 100%;
}

.imagecontainer {
    height: calc(8rem + 7vw);
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 6px;
    padding: var(--padding-s) 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagecontainer img {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.rightsidecontainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding-top: var(--padding-xs);
    flex: 1;
}

.textcontainer p {
    font-size: var(--text-sm)
}

.instaicon img {
    height: var(--padding-m);
    width: auto;
    object-fit: contain;
}

.linkcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
}

.linkcontainer * {
    font-family: var(--text-font);
    font-size: var(--text-s);
    text-decoration: underline;
}