.container {
    min-height: 100svh;
    padding: var(--page-title) var(--padding-s);
    padding-top: 0;
    --border-radius: 4px;
}

.uppercontainer {
    padding-top: var(--page-title);
    background-color: white;
}

.filter {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: var(--padding-xl);
    background-color: white;
    padding-bottom: var(--padding-sm);
    overflow: hidden;

}