.container {
    min-height: 100svh;
    padding: var(--padding-xl) var(--padding-s);
    padding-bottom: var(--page-title);
    padding-top: 0;
    --border-radius: 4px;

}

.uppercontainer {
    padding-top: var(--page-title);
}

.titleContainer {
    position: sticky;
    top: var(--page-title);
}

.lowercontainer {
    background-color: white;
}

.filter {
    z-index: 20;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: var(--padding-xl);
    background-color: white;
    padding-bottom: var(--padding-m)
}